<html lang="en" ng-app="myApp">
<head>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc5/angular-material.min.css">
</head>
<body ng-cloak>
  <!--
    Your HTML content here
  -->
<div ng-controller="DemoCtrl" layout="column" ng-cloak>
  <br/>
  <md-content layout-padding class="autoScroll">
    <div layout="row">
      <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>First Name</label>
        <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
        <input ng-model="user.firstname" type="text">
      </md-input-container>
      <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>Last Name</label>
        <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
        <input ng-model="user.lastname" type="text">
      </md-input-container>
    </div>
    <md-input-container class="md-block">
      <md-icon md-svg-src="img/icons/ic_email_24px.svg"></md-icon>
      <input ng-model="user.email" type="text" placeholder="email">
    </md-input-container>
    
  </md-content>
</div>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc7/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
  var app = angular.module('myApp', ['ngMaterial', 'ngMessages']);
  app.controller('DemoCtrl', function($scope) {
    
  });
  </script>
  
</body>
</html>